/** @format */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap");

h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 32px;
  color: #0a2ff1;
  text-align: center;
}

strong {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

img {
  width: 100px;
  vertical-align: middle;
  margin-left: 232px;
}
